body {
    overflow-x: hidden !important;
}



.navbar {
	font-family: poppins;
	font-weight: 400px;
}

#navbarNav {
	padding-top: 15px;
	height: 20px;
	font-size: 15px;
}

.unol_two {
	font-size: 17px;
	float: left;
}

.unol_two {
    font-size: 17px;
}

.unol_two li {
    float: left; /* Add this line to float the list items to the left */
    margin-right: 10px; /* Optional: Add some margin to create space between the icons */
}

.unol_four {
	margin-left: 550px;
	font-size: 17px;
}

#hom {
	padding-bottom: 5px;
	border-bottom: 2px solid #4739FF;
}

.bot {
	font-size: 18px;
	background-color: #2D1DFF;
}

.centtex {
	margin-top: 180px;
	font-family: poppins;
	font-weight: 200px;
}

.centtex1 {
	font-size: 30px;
	font-color: #D7D0C0;
}

.centtex2 {
	font-size: 100px;
}

.centtexl {
	color: #9189FF;
	margin-top: 200px;
	font-size: 30px;
	font-family: poppins;
	font-weight: 200px;
}

.centtexl1 {
	font-size: 50px;
	font-family: poppins;
	font-weight: 200px;
}

.mobil {
	margin-left: 30px;
	border: 2px solid #6E63FF;
	border-radius: 10px
}

.mbl {
	font-size: 30px;
}

.fetores {
	margin-top: 100px;
}

.fettex {
	font-color: #cccccc; 
	font-weight: 400;
}

.insta {
	margin-top: 200px;
}

.centtex3 {
	font-size: 60px;
}

.ser {
	border: 2px solid #F0EFFF;
	border-radius: 10px;
	/*margin-left: 20px;*/
}

.sicon {
	font-size: 30px;
	color: #2D1DFF;
	padding-top: 60px;
	padding-bottom: 40px;
}

#vido {
	background-image: url(images/vido.jpg);
	height: 600px;
	background-size: cover; 
	background-repeat: no-repeat;
	margin-top: 100px;
}

.vidot {
	padding-top: 20px;
	font-size: 50px;
}

.fa-play {
	padding-top: 250px;
	font-size: 50px;
}

.dovido {
	margin-top: 200px;
}

.startup {
	background-color: #F7F6FF;
	border-radius: 20px;
}

#strtp {
	font-size: 30px;
	margin-top: 80px;
	padding-left: 40px;
	color: black;
}
#strtpt {
	font-size: 70px;
	padding-left: 40px;
	color: #2D1DFF;
	font-weight: 300;
}

.strtpp {
	padding-left: 40px;
	padding-right: 20px;
}

.sttppont {
	color: black;
	font-size: 17px;
}

.botp {
	margin-left: 40px;
	margin-bottom: 40px;
}

.botpp {
	margin-left: 270px;
}

.plan {
	padding-top: 200px;
}

.buissness {
	border : 1px solid #2D1DFF;
	border-radius: 20px;
}

.compliment {
	background-image: url(images/last.jpg);
	height: 600px;
	background-size: cover; 
	background-repeat: no-repeat;
	margin-top: 100px;
	margin-bottom: 40px;
}

.ftr {
	background-color: #111111;
}

.icnl {
	color: white;
	padding-left: 30px;
	padding-top: 40px;
}

.icnll {
	margin-top:50px;
}

.contbtn {
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #9189ff;
  color: white;
}

.contstick {
	position: relative;
}

.sticky-element {
  position: absolute;
  left: 130px;
}

.sticky-element1 {
  position: absolute;
  left: 0;
}

.sticky-element2 {
  position: absolute;
  left: 0;
}

@media (min-width: 1081px) {
	.gp {
		margin-left: 130px;
	}
}

@media (max-width: 1080px) {
	.gpparent {
		padding-left: 70px;
	}
}

@media (min-width: 1920px) {
  .gp {
  	margin-left: 260px;
  }
}


